* {
    font-family: "Roboto";
    background-color:#f6f6f6; 
}

h1, h2 {
    text-align: center;
}

.highlighted {
    color: #1e1e1e;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight:bold;
}


p {
    color: #464747;
    font-size: 16px;
}

p ~ p {
    margin-top: 0px;
}

.box {
    display: inline-block;
    padding: 10px;
    border: 1px solid #1e1e1e;
    font-weight: bold;
}

.sortBtn{
    padding: 5px;
    font-size: 20px;
    margin-right: 10px;
}

.sortBtn:hover{
    background-color: lightcoral;
}

.arrSortedBtn:hover{
    background-color: lightgreen;
}


.center {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-bottom: 5px;
    padding-left: 10px;
    border: 3px solid #1e1e1e;
}

